@page
@model Swapartment.Pages_PropertyTags.CreateModel

@{
  ViewData["Title"] = "Create";
}
<div class="bg-image d-flex justify-content-center align-items-center mb-3 p-5">

  <div class="height-auto border shadow p-5 ">

    <div class="d-flex flex-column height-100">

      <div class="mb-5">
        <h2>Add a new amenity</h2>
      </div>
      <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating mb-3">
          <input asp-for="PropertyTag.Name" class="form-control" id="floatingTagName" />
          <label for="floatingTagName" asp-for="PropertyTag.Name"></label>
          <span asp-validation-for="PropertyTag.Name" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
          <input asp-for="PropertyTag.IconUrl" class="form-control" id="floatingInput" />
          <label for="floatingInput" asp-for="PropertyTag.IconUrl"></label>
          <span asp-validation-for="PropertyTag.IconUrl" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
          <input type="submit" value="Add" class="btn btn-primary" />
        </div>
      </form>


      <div>
        <a asp-page="Index">Back to List</a>
      </div>
    </div>
  </div>
</div>



@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
