@page
@model Swapartment.Pages.Images
@{
    ViewData["Title"] = "Images";
}

<h1>@ViewData["Title"]</h1>

<div>
     <img src="https://swaptappservicest.blob.core.windows.net/swaptservicestcontainer/img1.jpg" alt="Sample Photo" />
</div>