@page
@model Swapartment.Pages.SearchResultsModel
@{
  ViewData["Title"] = "Results";
}
<div class="d-flex align-items-stretch flex-column-reverse flex-md-row search-results">
  @* CARDS SECTION *@
  <div class="card-grid">

    @* Card start *@
    <div class="card mb-3">
      <div id="carousel0" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/home_splash.jpg" class="d-block w-100 card-img-top" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/home_splash2.jpg" class="d-block w-100 card-img-top" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/home_splash3.jpg" class="d-block w-100 card-img-top" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel0" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel0" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <p class="card-title">City, State, Country</p>
          <p class="card-text"><i class="bi bi-star-fill"></i> 4.8</p>
        </div>
        <p class="card-text text-muted">Property Title</p>
        <p class="card-text text-muted">Number of bedrooms</p>
        <p class="card-text">$ Price <small class="text-muted">night</small></p>
      </div>
    </div>
    @* Card end *@

    @* Card start *@
    <div class="card mb-3">
      <div id="carousel1" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/home_splash.jpg" class="d-block w-100 card-img-top" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/home_splash2.jpg" class="d-block w-100 card-img-top" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/home_splash3.jpg" class="d-block w-100 card-img-top" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <p class="card-title">City, State, Country</p>
          <p class="card-text"><i class="bi bi-star-fill"></i> 4.8</p>
        </div>
        <p class="card-text text-muted">Property Title</p>
        <p class="card-text text-muted">Number of bedrooms</p>
        <p class="card-text">$ Price <small class="text-muted">night</small></p>
      </div>
    </div>
    @* Card end *@

    @* Card start *@
    <div class="card mb-3">
      <div id="carousel2" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/home_splash.jpg" class="d-block w-100 card-img-top" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/home_splash2.jpg" class="d-block w-100 card-img-top" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/home_splash3.jpg" class="d-block w-100 card-img-top" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <p class="card-title">City, State, Country</p>
          <p class="card-text"><i class="bi bi-star-fill"></i> 4.8</p>
        </div>
        <p class="card-text text-muted">Property Title</p>
        <p class="card-text text-muted">Number of bedrooms</p>
        <p class="card-text">$ Price <small class="text-muted">night</small></p>
      </div>
    </div>
    @* Card end *@

    @* Card start *@
    <div class="card mb-3">
      <div id="carousel3" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/home_splash.jpg" class="d-block w-100 card-img-top" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/home_splash2.jpg" class="d-block w-100 card-img-top" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/home_splash3.jpg" class="d-block w-100 card-img-top" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <p class="card-title">City, State, Country</p>
          <p class="card-text"><i class="bi bi-star-fill"></i> 4.8</p>
        </div>
        <p class="card-text text-muted">Property Title</p>
        <p class="card-text text-muted">Number of bedrooms</p>
        <p class="card-text">$ Price <small class="text-muted">night</small></p>
      </div>
    </div>
    @* Card end *@

    @* Card start *@
    <div class="card mb-3">
      <div id="carousel4" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/home_splash.jpg" class="d-block w-100 card-img-top" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/home_splash2.jpg" class="d-block w-100 card-img-top" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/home_splash3.jpg" class="d-block w-100 card-img-top" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel4" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel4" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <p class="card-title">City, State, Country</p>
          <p class="card-text"><i class="bi bi-star-fill"></i> 4.8</p>
        </div>
        <p class="card-text text-muted">Property Title</p>
        <p class="card-text text-muted">Number of bedrooms</p>
        <p class="card-text">$ Price <small class="text-muted">night</small></p>
      </div>
    </div>
    @* Card end *@

  </div>
  @* END CARD SECTION *@

  @* MAP SECTION *@
  <div class="map-container">
    <div id="map" style='width: 100%; height: 100%;'></div>
  </div>

</div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiYWxpbmFnZWUiLCJhIjoiY2tjaG14MTlhMGh4ejJxbzB1dmxtbXhndSJ9.1n05xXhvacdhS-dWPWaH6Q';
  var map = new mapboxgl.Map({
    container: 'map',
    center: [-123.1121, 49.2569],// Vancouver - Coordinates of search location go here
    zoom: 10,
    style: 'mapbox://styles/mapbox/streets-v11'
  });

  map.addControl(
    new mapboxgl.NavigationControl());
</script>
