@page "{id:int}"
@model Swapartment.Pages_Rentals.CreateModel
@{
  ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rental</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Rental.StartDate" class="control-label"></label>
        <input asp-for="Rental.StartDate" id="start" class="form-control" />
        <span asp-validation-for="Rental.StartDate" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Rental.EndDate" class="control-label"></label>
        <input asp-for="Rental.EndDate" id="end" class="form-control" />
        <span asp-validation-for="Rental.EndDate" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Rental.PriceTotal" class="control-label"></label>
        <input asp-for="Rental.PriceTotal" id="priceTotal" class="form-control" readonly />
        <span asp-validation-for="Rental.PriceTotal" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-page="Index">Back to List</a>
</div>
<script>
  document.getElementById("start").addEventListener("input", (e) => onChange(e));
  document.getElementById("end").addEventListener("input", (e) => onChange(e));

  function onChange(args) {
    CalculatePrice(args);

  }
  function CalculatePrice(args) {
    var price = 0;

    var start = document.getElementById("start");
    var startVal = start.value;
    console.log(startVal);
    var end = document.getElementById("end");
    var endVal = end.value;

    if (startVal == "" || endVal == "") {
      price = 0;
    }
    else {
      var startArray = startVal.split("-");
      var endArray = endVal.split("-");
      var startDate = new Date(startArray[0], startArray[1], startArray[2]);
      var endDate = new Date(endArray[0], endArray[1], endArray[2]);

      var dateDiff = endDate - startDate;
      var dateDiff = dateDiff / (1000 * 3600 * 24);
      price = (dateDiff * (@Model.Rental.Property.DailyRate))
      console.log("price = " + price);
      document.getElementById("priceTotal").value = price;
    }
  }
</script>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
