@page
@model Swapartment.Pages_Properties.CreateModel

@{
  ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Property</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form method="post" enctype="multipart/form-data">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Property.Title" class="control-label"></label>
        <input asp-for="Property.Title" class="form-control" />
        <span asp-validation-for="Property.Title" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Property.Description" class="control-label"></label>
        <input asp-for="Property.Description" class="form-control" />
        <span asp-validation-for="Property.Description" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Property.DailyRate" class="control-label"></label>
        <input asp-for="Property.DailyRate" class="form-control" />
        <span asp-validation-for="Property.DailyRate" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Property.NumberOfBedrooms" class="control-label"></label>
        <input asp-for="Property.NumberOfBedrooms" class="form-control" />
        <span asp-validation-for="Property.NumberOfBedrooms" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Property.NumberOfBathrooms" class="control-label"></label>
        <input asp-for="Property.NumberOfBathrooms" class="form-control" />
        <span asp-validation-for="Property.NumberOfBathrooms" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Property.UnitNumber" class="control-label"></label>
        <input asp-for="Property.UnitNumber" class="form-control" />
        <span asp-validation-for="Property.UnitNumber" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Property.StreetAddress" class="control-label"></label>
        <input asp-for="Property.StreetAddress" class="form-control" />
        <span asp-validation-for="Property.StreetAddress" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Property.State" class="control-label"></label>
        <input asp-for="Property.State" class="form-control" />
        <span asp-validation-for="Property.State" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Property.City" class="control-label"></label>
        <input asp-for="Property.City" class="form-control" />
        <span asp-validation-for="Property.City" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Property.PostalCode" class="control-label"></label>
        <input asp-for="Property.PostalCode" class="form-control" />
        <span asp-validation-for="Property.PostalCode" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Property.Country" class="control-label"></label>
        <input asp-for="Property.Country" class="form-control" />
        <span asp-validation-for="Property.Country" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
      </div>
      <div>
        <input type="file" id="ImgUpload" onchange="ImgPre(this)" accept="image/png, image/jpeg" style="display: none;" multiple />
        <input type="button" value="Browse..." onclick="document.getElementById('ImgUpload').click();" />
        <div id="ImgPreview" />
      </div>

    </form>
  </div>
</div>

<div>
  <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function ImgPre(input) {
          for (each of input.files) {
            var reader = new FileReader();
            reader.onload = function (e) {
              var img = document.createElement("img");
              img.src = e.target.result;
              img.style.width = "100px";
              img.style.height = "100px";
              document.getElementById("ImgPreview").appendChild(img);
              //add delete button to each image
              var btn = document.createElement("button");
              btn.innerHTML = "X";
              btn.className = "btn btn-danger delete-btn"; // Alina you could prob use .delete-btn to style that delete button?
              btn.onclick = function () {
                img.remove();
                btn.remove();
                // remove image from input.files
                input = Array.from(input.files).filter((file) => file.name != each.name);

              };
              document.getElementById("ImgPreview").appendChild(btn);
              
            
            };
            reader.readAsDataURL(each);
          }

        }
    </script>
}
